.dashboard-container {
  padding: 20px;
  background-color: #f4f6f8;
  min-height: 100vh;
}


.stats-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 20px;
  min-width: 200px;
}

.card h3 {
  color: #444444;
  font-weight: 600;  
}

.card p {
  color: #006664;
  font-weight: 400;
}




.beds-table th, .beds-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.beds-table th {
  background-color: #d8fff1;
  color: white;
}

.beds-table tr:hover {
  background-color: #f0f8ff;
}
